fastapi==0.112.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.8.2
pikepdf==9.2.0
python-dotenv==1.0.1
python-magic==0.4.27; sys_platform != "win32"
python-magic-bin==0.4.14; sys_platform == "win32"